@import "./reset";
@import "./themes/dark";
@import "./themes/normal";
@import "./themes/purple";
@import "./variables/global";

.app {
    font: var(--font-m);
    color: var(--primary-color);
    background: var(--inverted-bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

/* настройка скроллбара для FireFox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--card-bg);
}

/* настройка скроллбара для Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);        /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color);    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 2px solid var(--primary-color);  /* padding вокруг плашки */
}

.scroll-thin {
    /* Переопределение настроек скроллбара для FireFox */
    scrollbar-color: var(--primary-color) var(--inverted-bg-color);

    /* Переопределение настроек скроллбара для Chrome/Edge/Safari */
    ::-webkit-scrollbar {
        width: 6px;               /* ширина scrollbar */
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--inverted-primary-color);    /* цвет плашки */
        border: none;  /* padding вокруг плашки */
    }

    *::-webkit-scrollbar-track {
        background: var(--inverted-bg-color);        /* цвет дорожки */
    }
}

@media (max-width: breakpoints(XL)) {
    /* настройка скроллбара для FireFox */
    * {
        scrollbar-width: none;
        scrollbar-color: var(--primary-color) var(--card-bg);
    }

    /* настройка скроллбара для Chrome/Edge/Safari */
    *::-webkit-scrollbar {
        width: 0;               /* ширина scrollbar */
        height: 8px;
    }

    *::-webkit-scrollbar-track {
        background: var(--card-bg);        /* цвет дорожки */
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--inverted-primary-color);    /* цвет плашки */
        border-radius: 20px;       /* закругления плашки */
        border: 2px solid var(--primary-color);  /* padding вокруг плашки */
    }
}

li {
    list-style-type: none;
}
