.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
    flex-shrink: 0;

    /* Переопределение настроек скроллбара для FireFox */
    scrollbar-color: var(--primary-color) var(--inverted-bg-color);

    /* Переопределение настроек скроллбара для Chrome/Edge/Safari */
    ::-webkit-scrollbar {
        width: 6px;               /* ширина scrollbar */
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--inverted-primary-color);    /* цвет плашки */
        border: none;  /* padding вокруг плашки */
    }

    *::-webkit-scrollbar-track {
        background: var(--inverted-bg-color);        /* цвет дорожки */
    }
}

.switchers {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lang {
    margin-left: 20px;
}

.collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
    z-index: var(--sidebar-button-z-index);
}

.items {
    margin-top: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.content {
    max-height: 100%;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }

    .lang {
        margin-left: 0;
    }
}
