.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
    flex-shrink: 0;
}

/* @media (max-width: $site-xl) {
    .Sidebar {
        display: none;
    }
} */

.switchers {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.lang {
    margin-left: 20px;
}

.collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
    z-index: var(--sidebar-button-z-index);
    border-radius: 0 20% 20% 0;
}

.items {
    margin-top: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.content {
    max-height: 100%;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }

    .lang {
        margin-left: 0;
    }
}
