.item {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.link {
    margin-left: 10px;
    opacity: 1;
    transition: 0.2s opacity;
}

.collapsed {
    .link {
        opacity: 0;
        width: 0;
    }
}
