.ItemListInfinite {
    height: calc(100% - 20px);
    width: calc(100% - 45px);
    position: absolute;
}

.BIG {
    .card {
        margin-bottom: 30px;
        margin-top: 30px;
    }
}

.SMALL {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    .card {
        display: inline-flex;
        height: 300px;
    }

    .row {
        display: flex;
        gap: 30px;
    }
}

.itemWrapper {
    padding-right: 20px;
}
