.ItemRecommendationList {
    max-width: 100%;
}

.itemList {
    overflow-y: hidden;
    overflow-x: auto;
    flex-wrap: nowrap;
    justify-content: start;
    max-width: 100%;
    padding-bottom: 10px;
}
