.ItemListBigItem {
    position: relative;
}

.img {
    width: 444px;
    height: 250px;
    border-radius: 10px;
    flex-shrink: 0;
}

.textBlock {
    max-height: 200px;
    overflow-y: hidden;
}

.description {
    height: 250px;
}

.itemLike {
    margin-left: auto;
    position: absolute;
    right: 24px;
    bottom: 24px;
}

.skeletonText {
    width: 100%;
}
