.app_dark_theme {
    --bg-color: #060638;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-primary-color: #203f96;
    --inverted-secondary-color: #0471ff;

    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // input
    --input-bg: #0e0e4e;

    // card
    --card-bg: #0d0d6b;

    // listbox
    --listbox-bg: #0d0d6b;
}
