.app_dark_theme {
    --bg-color: #090f11;
    --inverted-bg-color: #151c1f;
    --primary-color: #dbdbdb;
    --secondary-color: #dbdbdb;
    --inverted-primary-color: #dbdbdb;
    --inverted-secondary-color: #dbdbdb;

    // skeleton
    --skeleton-color: #555;
    --skeleton-shadow: #74a2b2;

    // input
    --input-bg: #0c1214;

    // card
    --card-bg: #151c1f;
    --inverted-card-bg: #090f11;

    // listbox
    --listbox-bg: #151c1f;
}
