:root {
    --bg-color: #fff;
    --inverted-bg-color: #e2eef1;
    --primary-color: #141c1f;
    --secondary-color: #141c1f;
    --inverted-primary-color: #141c1f;
    --inverted-secondary-color: #141c1f;

    // skeleton
    --skeleton-color: #adbcc0;
    --skeleton-shadow: #5ed3f3;

    // input
    --input-bg: #eff5f6;

    // card
    --card-bg: #e2eef1;
    --inverted-card-bg: #fff;

    // listbox
    --listbox-bg: #e2eef1;
}
