:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #060638;
    --primary-color: #203f96;
    --secondary-color: #237aeb;
    --inverted-primary-color: #04ff04;
    --inverted-secondary-color: #049604;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // input
    --input-bg: #fff;

    // card
    --card-bg: #d9d9ee;

    // listbox
    --listbox-bg: #d9d9ee;
}
