.app_purple_theme {
    --bg-color: #faebfa;
    --inverted-bg-color: #802082;
    --primary-color: #eb57ee;
    --secondary-color: #641490;
    --inverted-primary-color: #fbf4fb;
    --inverted-secondary-color: #641490;

    // skeleton
    --skeleton-color: #a1139a;
    --skeleton-shadow: #6e4a65;

    // input
    --input-bg: #fff;

    // card
    --card-bg: #f3d5f3;
    --inverted-card-bg: #eb57ee;

    // listbox
    --listbox-bg: #f3d5f3;
}
