.app_purple_theme {
    --bg-color: #e6aae6;
    --inverted-bg-color: #c176c2;
    --primary-color: #141c1f;
    --secondary-color: #141c1f;
    --inverted-primary-color: #141c1f;
    --inverted-secondary-color: #141c1f;

    // skeleton
    --skeleton-color: #adbcc0;
    --skeleton-shadow: #4875f0;

    // input
    --input-bg: #df97df;

    // card
    --card-bg: #c176c2;
    --inverted-card-bg: #e79de7;

    // listbox
    --listbox-bg: #c176c2;
}
