.MainLayout {
    /* min-height: 100vh; */
    display: grid;
    grid-template: 50px auto / 300px auto;
    grid-template-areas:
        "navbar navbar"
        "sidebar content";
}

.navbar {
    position: sticky;
    grid-area: navbar;
}

.sidebar {
    grid-area: sidebar;
    position: sticky;
}

.content {
    grid-area: content;
}
