@import "/src/app/styles/variables/preproc";

@media (min-width: $screen-sm) {
    .ItemSortSelector {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}

.sort {
    margin-right: 8px;
}

.text {
    margin-right: 8px;
}
