@media (min-width: breakpoints(SM)) {
    .ItemSortSelector {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}

.sort {
    margin-right: 8px;
}

.text {
    margin-right: 8px;
}
