.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* @media (max-width: $site-xl) {
    .Navbar {
        display: none;
    }
} */

.links,
/* .actions {
    margin-left: auto;
} */
.mainLink {
    margin-right: 15px;
}

.appName {
    /* width: var(--sidebar-width); */
    margin-left: 15px;
}

.items {
    margin-top: 20px;
    margin-left: 30px;
}
