.Editor {
    background: var(--code-bg);
    border: 1px solid var(--primary-color);
    max-height: 400px;
    overflow: auto;
    margin-top: 1px;
    position: relative;
}

.copyBtn {
    position: absolute;
    right: 20px;
    top: 20px;
}

.copyIcon path {
    stroke: var(--primary-color);
}
